@import '~bootstrap-icons/font/bootstrap-icons.css';

/* titulo reportes */
.titulo_reporte{
    font-size: 1.5rem;
    font-weight: 700;
    color: #404B5A;
}

/* card-header  */
.card-header {
    background-color: rgba(5, 5, 5, 0.141);
}

/* panel de marca y modelo */
.car_body_panel{
    background-color: rgba(227, 211, 191, 0.391);
}

   /* donna chart */
   .chartContainer {
    width: 550px;
    height: 270px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
   
}