@import '~bootstrap-icons/font/bootstrap-icons.css';
.icon-custom {
    
    color:rgba(31, 30, 30, 0.43);/* Establece el color del texto en blanco */
    cursor: pointer; /* Cambiar el cursor a una manito cuando el ratón está sobre el icono */
    font-weight: bold; 
    font-size:80px;

}

.titulo{
    margin: 0px 0px;
    padding: 0px 0px;
    padding-top: 5px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #404B5A; 
} 

.presentacion_user{
    margin: 0px 0px;
    padding: 0px 0px;
}
.form-label{
    /* font-weight: bold; */
    color: rgba(70, 69, 69, 0.662);
    font-weight: 700;
    letter-spacing: 0.4px;
}
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin: auto;
    padding: auto;
}


/* boton volver */
.btn-volver{
    background-color:  #176091;
    border-radius: 5px;
    border-color: #176091;
   
    
}

.fondo-volver{
    background-color: #73bced2c;
}

/* contenedor */
.contenedor{
    margin: 0px 10%;
}

@media  screen and (max-width:1536px) {
    .contenedor{
        margin: 0px 5%;   
  }
}