@import '~bootstrap-icons/font/bootstrap-icons.css';

/* titulo reportes */
.titulo_reporte{
    font-size: 1.5rem;
    font-weight: 700;
    color: #404B5A;
}
 /* form control en mayusculas */
 .form-control{
    text-transform:uppercase;
  }

  /* pie chart */
  .chartContainer {
    width: 550px;
    height: 270px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
   
}

